# Database

### what is Database ?

<div class="alert alert-block alert-info">
A structured set of computerized data with an accessible interface.
</div>

### Database Management System(DBMS)

<div class="alert alert-block alert-info">
software systems used to store, retrieve, and run queries on data.
    </div>

### Popular Types Of DBMS

<div class="alert alert-block alert-success">
    1.Postgre SQL<br>
    2.MySQL<br>
    3.Oracle Database<br>
    4.SQLite
</div>

### SQL

<div class="alert alert-block alert-info">
- SQL is the language we use to "talk" to our database
</div>

### note :

<div class="alert alert-block alert-danger">
working with MySQL is primarily writing SQL
</div>

### Database Commands

<div class="alert alert-block alert-info">
    SHOW DATABASES<br><br>
    - what databases currently exist
</div>

<div class="alert alert-block alert-danger">
    Remember -> Do not put space in database name.
</div>

<div class="alert alert-block alert-info">
    <p>CREATE DATABASE  "db_name"</p><br>
    - create new database
    
</div>

<div class="alert alert-block alert-info">
    DROP DATABASE "DB_NAME"<br><br>
    - Remove a database entirely and all of it's contents.
</div>

<div class="alert alert-block alert-info">
    Use "DB_NAME"<br><br>
    - selecting it as what we want to be working inside
</div>

<div class="alert alert-block alert-success">
    SELECT DATABASE()<br><br>
    - showing the current selected database
</div>

## Table

<div class="alert alert-block alert-info">
    A Collection of related data held in a "structured format" within a database
</div>

<div class="alert alert-block alert-danger">
    Remember -> Databases are made up of lots of tables
</div>

## Data types

### 1. Numeric Types

<div class="alert alert-block alert-success">
    INT - SMALLINT - TINYINT - DECIMAL FLOAT - DOUBLE and ...
</div>

### 2. String types

<div class="alert alert-block alert-success">
    CHAR - VARCHAR - BINARY - BLOB and ...
</div>

### 3. Date types

<div class="alert alert-block alert-success">
    DATE - DATETIME - TIMESTAMP - TIME - YEAR
</div>

# ---------------------------------------------------------------------------------------------------------------

# Table Commands

<div class="alert alert-block alert-info">
    CREATE TABLE "TABLE_NAME" (column_name data_type , column_name data_type)<br><br>
    - Create table
</div>

<div class="alert alert-block alert-info">
    SHOW TABLES<br><br>
    - Show the tables from our current database
</div>

<div class="alert alert-block alert-info">
    DROP TABLE "TABLE_NAME"<br><br>
    - Delete a table
</div>

### Create Comments in MySQL

<div class="alert alert-block alert-success">
    Use "#" to create comment in MySQL
</div>

<div class="alert alert-block alert-info">
    INSERT INTO "TABLE_NAME" (COLUMN_NAME) VALUES (VALUE)<br><br>
    - insert data into table
</div>

<div class="alert alert-block alert-danger">
    Remember -> The order matters in inserting data into the table
</div>

<div class="alert alert-block alert-info">
    SELECT * FROM "TABLE_NAME"<br><br>
    - To show everything in the table
</div>

### Primary Key

<div class="alert alert-block alert-success">
    A unique identifier
</div>

<div class="alert alert-block alert-warning">
    Example : <br>
        CREATE TABLE "TABLE_NAME" (id INT PRIMARY KEY)
</div>

<div class="alert alert-block alert-danger">
    Remember -> Primary key cannot be Null
</div>

### Auto_Increment

<div class="alert alert-block alert-success">
The auto increment in SQL is a feature that is applied to a field so that it can automatically generate and provide a unique value to every record that you enter into an SQL table.
</div>

<div class="alert alert-block alert-warning">
    Example : <br>
        CREATE TABLE "TABLE_NAME" (id INT PRIMARY KEY AUTO_INCREMENT)
</div>

### CRUD

<div class="alert alert-block alert-success">
    CRUD is the acronym for CREATE, READ, UPDATE and DELETE. These terms describe the four essential operations for creating and managing persistent data elements, mainly in relational and NoSQL databases.
</div>