# What is Python?

**Python** is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically typed and garbage-collected. It supports multiple programming paradigms, including structured, object-oriented and functional programming

<div class="alert alert-block alert-info">
It was created by Guido van Rossum, and released in 1991.
</div>

### It is used for:
    1. web development(server-side)
    2. software development
    3. mathematics
    4. system scripting
    5 Machine Learning
    6. Deep Learning

## Python Syntax compared to other programming languages

<ul>
    <li>Python was designed for readability, and has some similarities to the English language with influence from mathematics.</li>
    <li>Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.</li>
    <li>
        Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.
    </li>
</ul>

# Python Syntax

### Python Indentation
Indentation refers to the spaces at the beginning of a code line.
Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

<div class="alert alert-block alert-info">
Python uses indentation to indicate a block of code
    </div>

In [11]:
if 5 > 2
     print("Five is greater than two!")

Five is greater than two!

# Python Variables

In Python, variables are created when you assign a value to it:<br>
x = 5<br>
y = "Hello, World!"

# Comments

Comments start with a #, and Python will render the rest of the line as a comment:<br>

<div class="alert alert-block alert-danger">
#This is a comment.
</div>

# Python Data Types

 In programming, data type is an important concept.<br>
 Variables can store data of different types, and different types can do different things.<br>
 Python has the following data types built-in by default, in these categories:

<div class="alert alert-block alert-info">
<ul>
    <li>Text Type:	str<br>
    <li>Numeric Types:	int, float, complex<br>
    <li>Sequence Types:	list, tuple, range<br>
    <li>Mapping Type:	dict<br>
    <li>Set Types:	set, frozenset<br>
    <li>Boolean Type:	bool<br>
    <li>Binary Types:	bytes, bytearray, memoryview<br>
    <li>None Type:	NoneType<br>
<ul>
    </div>

# Getting the Data Type

You can get the data type of any object by using the `type()` function

# Python Arithmetic Operators

<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Name</th>
<th style="width:30%">Example</th>

</tr>
<tr>
<td>+</td>
<td>Addition</td>
<td>x + y</td>

</tr>
<tr>
<td>-</td>
<td>Subtraction</td>
<td>x - y</td>

</tr>
<tr>
<td>*</td>
<td>Multiplication</td>
<td>x * y</td>

</tr>
<tr>
<td>/</td>
<td>Division</td>
<td>x / y</td>

</tr>
<tr>
<td>%</td>
<td>Modulus</td>
<td>x % y</td>
</tr>
  <tr>
<td>**</td>
<td>Exponentiation</td>
<td>x ** y</td>

  </tr>
<tr>
<td>//</td>
<td>Floor division</td>
<td>x // y</td>

</tr>
</tbody>

# Python Assignment Operators

<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:20%">Example</th>
<th style="width:20%">Same As</th>

</tr>
<tr>
<td>=</td>
<td>x = 5</td>
<td>x = 5</td>

</tr>
  <tr>
<td>+=</td>
<td>x += 3</td>
<td>x = x + 3</td>

  </tr>
  <tr>
<td>-=</td>
<td>x -= 3</td>
<td>x = x - 3</td>

  </tr>
  <tr>
<td>*=</td>
<td>x *= 3</td>
<td>x = x * 3</td>

  </tr>
  <tr>
<td>/=</td>
<td>x /= 3</td>
<td>x = x / 3</td>

  </tr>
  <tr>
<td>%=</td>
<td>x %= 3</td>
<td>x = x % 3</td>

  </tr>
  <tr>
<td>//=</td>
<td>x //= 3</td>
<td>x = x // 3</td>

  </tr>
  <tr>
<td>**=</td>
<td>x **= 3</td>
<td>x = x ** 3</td>

  </tr>
  <tr>
<td>&amp;=</td>
<td>x &amp;= 3</td>
<td>x = x &amp; 3</td>

  </tr>
  <tr>
<td>|=</td>
<td>x |= 3</td>
<td>x = x | 3</td>

  </tr>
<tr>
<td>^=</td>
<td>x ^= 3</td>
<td>x = x ^ 3</td>

</tr>
<tr>
<td>&gt;&gt;=</td>
<td>x &gt;&gt;= 3</td>
<td>x = x &gt;&gt; 3</td>

</tr>
<tr>
<td>&lt;&lt;=</td>
<td>x &lt;&lt;= 3</td>
<td>x = x &lt;&lt; 3</td>

</tr>
<tr>
<td>:=</td>
<td>print(x := 3)</td>
<td>x = 3<br>print(x)</td>

</tr>
</tbody>

# Python Lists

Lists are used to store multiple items in a single variable.

In [9]:
mylist = ["apple", "banana", "cherry"]

# Python Tuples

Tuples are used to store multiple items in a single variable.

In [12]:
mytuple = ("apple", "banana", "cherry")

# Python Sets

Sets are used to store multiple items in a single variable.

In [13]:
myset = {"apple", "banana", "cherry"}

# Python Dictionaries

Dictionaries are used to store data values in key:value pairs.

In [14]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# Python If ... Else

Python supports the usual logical conditions from mathematics:

<ul>
<li>Equals: <span class="w3-codespan">a == b</span></li>
<li>Not Equals: <span class="w3-codespan">a != b</span></li>
<li>Less than: <span class="w3-codespan">a &lt; b</span></li>
<li>Less than or equal to: <span class="w3-codespan">a &lt;= b</span></li>
<li>Greater than: <span class="w3-codespan">a &gt; b</span></li>
<li>Greater than or equal to: <span class="w3-codespan">a &gt;= b</span></li>
</ul>

In [15]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

# Python Loops

Python has two primitive loop commands:

<ul>
<li><span class="w3-codespan">while</span> loops</li>
<li><span class="w3-codespan">for</span> loops</li>
</ul>

## While Loop

In [16]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

## For Loop

In [17]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana